* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body {
	background-color: blueviolet;
}

.App {
	width: 65%;
	max-width: 1600px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 20% 80%;
}
